.home{
        width: 100%;
        display: flex;

    &__left{
        width: 100%;
    }

    &__right{
        width: 580px;
        background-color: #1F1D2B;
        height: 100vh;
    }

    &__middle{
        padding: 24px 38px 2px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

    &-title{
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
    }    
    &-select{
        background: #1F1D2B;
        border: 1px solid #393C49;
        padding: 15px 14px;
        padding-left: 44px;
        border-radius: 8px;
        -webkit-appearance: none;
        -moz-appearance: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        color: #fff;
        background-repeat: no-repeat;
        background-position: left 14px center;
        background-image: url('../../assets/img/arrow.png');
        cursor: pointer;
        outline: none;
    }
    }
}