.notification{
    display: flex;
    width: 100%;

    &__left{
        width: 100%;
    }

    &__right{
        width: 700px;
        margin: 24px 0;
        border-radius: 8px;
        background-color: #252736;
        height: 100vh;
    }
}