.home-content{
    padding: 0 38px 50px 10px;
    height: 50%;
    overflow-y: auto;

    &__list{
        margin: 0;
        display: flex;
        list-style: none;
    }

    img{
      border-radius: 50%;
      margin-top: -55px;
      animation-name: BoxAnimation;
      animation-delay: 5s;
      animation-duration: 18s;
      animation-iteration-count: infinite;
    }


    

    &__item{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 15px;
      text-align: center;
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:  #1F1D2B;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #EA7C69;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #d15c47;
  }


@keyframes BoxAnimation {
   to{
     transform: rotate(0deg);
   }
   from{
     transform: rotate(-360deg);
   }
}