.boxtop__user{
    padding: 15px 10px 4px 10px;
    border-bottom: 1px solid #393C46;
    margin: 10px 20px;
    


    &__name{
        margin: 0;
        margin-bottom: 4px;
        font-weight: 600;
        font-size: 28px;
        line-height: 30px;
        line-height: 140%;
    }
    &__date{
        margin: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #E0E6E9;
        padding-bottom: 20px;
    }
}

.boxtop{

    &__section{
        display: flex;
        margin: 24px 0px;
        justify-content: space-between;
        width: 1050px;
    }

    &-list{
        display: flex;
        align-items: center;
        margin: 0px 6px;
    }
    &-page{
        padding: 10px;
        background-color: #1F1D2B;
        border-radius: 8px;
        width: 230px;
        height: 130px;
        margin: 25px;
        
    }

    &-number{
        font-weight: 600;
        font-size: 28px;
        line-height: 140%;
        margin: 12px 8px;
    }

    &-text{
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        color: #ABBBC2;
        margin: 12px 8px;
    }

    &-num{
        margin: 0px 9px;
        color: #50D1AA;
        font-size: 12px;
        font-weight: 500;
        line-height: 140%;
    }

    &-nums{
        margin: 0 9px;
        color: #FF7CA3;
        font-size: 12px;
        font-weight: 500;
        line-height: 140%;
    }

    
    &-weight{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-p5{
        padding: 0px 24px 0;
        background-color: #1F1D2B;
        border-radius: 8px;
        width: 950px;
        margin: 30px;

    }

    &-weights{
        display: flex;
        justify-content: space-between;
        margin-top: -25px;
    }

    &-button{
        background: #1F1D2B;
        border: 1px solid #393C49;
        box-sizing: border-box;
        border-radius: 8px;
        width: 125px;
        height: 45px;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        line-height: 130%;
    }

    &-button::before{
        content: "";
        display: inline-block;
        background-image: url('../../assets/img/Option.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 16px;
        height: 16px;
        margin-right: 15px;
        box-sizing: border-box;
    }

    &-innertext{
        font-size: 20px;
        font-weight: 600;
        line-height: 140%;
    }

    &-innertexts{
        width: 100px;
    }

    &-ticklist{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -15px;
        // padding: 10px 0;
    }

    &-tick{
        display: flex;
        align-items: center;
        width: 16%;
    }
    &-ticket{
        width: 13%;
    }
    &-menu{
        width: 90%;
        color: #E0E6E9;
        font-size: 14px;
    }

    &-total{
        width: 14%;
        color: #E0E6E9;
        font-size: 14px;
        font-style: normal;
    }

    &-btn{
        background: rgba(107, 226, 190, 0.24);
        border-radius: 30px;
        color: #50D1AA;
        font-size: 14px;
        line-height: 130%;
        font-weight: 500;
        border:none;
        outline: none;
        width: 100px;
        height: 30px;
        margin: 15px;
    }

    &-tickname{
        padding-left: 8px;
    }

    &-pics{
        padding-right: -12px;
    }

    &-btns{
        font-size: 14px;
        line-height: 130%;
        font-weight: 500;
        border:none;
        outline: none;
        width: 100px;
        height: 30px;
        margin: 15px;
        border-radius: 30px;
        background: rgba(146, 144, 254, 0.2);
        color: #9290FE;
    }

    &-body{
        height: 40vh;
        overflow-y: scroll;
        
    }

  
}

::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:  #1F1D2B;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #EA7C69;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #d15c47;
  }